<ion-view view-title="مَنْشَر">
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
    <div class="tabs">
      <a class="tab-item" ng-click="orderArticles('popular')" ng-class="{'active': activeTab == 'popular'}" ng-click="orderArticles('popular')">
        <i class="icon fa-line-chart"></i>
        الأكثر شعبية
      </a>
      <a class="tab-item" ng-click="orderArticles('best')" ng-class="{'active': activeTab == 'best'}" ng-click="orderArticles('best')">
        <i class="icon fa-thumbs-o-up"></i>
        الأفضل
      </a>
      <a class="tab-item" ng-click="orderArticles('recents')" ng-class="{'active': activeTab == 'recents'}" ng-click="orderArticles('recents')">
        <i class="icon fa-clock-o"></i>
        الأحدث
      </a>
    </div>
  </div>

  <a class="button button-float" nav-direction="back" ><i class="fa fa-pencil"></i></a>
  <ion-content class="stable-bg">
    <div ng-include="'templates/partials/_articles_list.html'"></div>
  </ion-content>
</ion-view>
