
<ul class="cards-list-container one-column card-list">

  <li ng-repeat="article in articles track by $index" class="card" ng-class="{'loading': article.loading, 'blinking': article.loading}">
    <div class="article-details article-card" style="border-left: 4em solid {{getCardColor(article.topic.category.color)}};">
      <div class="header">
        <div class="title">
          <a ui-sref="app.article({articleId:article.id})" nav-direction="back">
            <h1>{{article.title}}</h1>
            <h2>{{article.tagline}}</h2>
          </a>
          <div class="meta-data">
            <div class="date">
              <!-- todo set arabic date-->
              {{article.published_at | date:'EEEE, d MMMM'}}
            </div>
            <!-- todo go to specific profile-->
            <a ng-hide="article.loading" ng-href="/profiles/{{article.user.id}}">
              {{article.user.name}}
            </a>
            <div class="category-topic" ng-show="article.topic.title" style="background-color: {{getCardColor(article.topic.category.color)}};">
              <!-- todo go to categoey-->
              <a >
                {{article.topic.title}}
              </a>
            </div>
          </div>
          <span class="reading-time" ng-hide="article.loading"> {{article.reading_time | timeToRead }} </span>
          <div class="stats-box">
            <span ng-show="article.recommendations_count">
              <i class="fa fa-thumbs-o-up"></i> {{article.recommendations_count}}
            </span>
            <span ng-show="article.comments_count">
              <i class="fa fa-comment-o"></i> {{article.comments_count}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li class="card" ng-if="Connection=='NONE'">
    <div class="color-assertive" style="text-align: center">

      <i style="font-size: 80pt;" class="ion-android-cloud"></i>
      <i style="    font-size: 40pt;
    color: white;
    position: relative;
    top: -18px;
    left: 76px;" class="ion-android-sad" ></i>

      <div>
        لايوجد إتصال بالشبكة
      </div>


    </div>
  </li>
  <button class="load-more-button" ng-click="loadMoreArticles()" ng-disabled="inProgress == 'load-more'" ng-show="hasNext">
    <i class="fa fa-refresh"></i>
    <span>المزيد من المقالات</span>
  </button>
</ul>
