<ion-view view-title="template">
  <ion-content>
    <ul class="cards-list-container one-column card-list">
      <li class="card" ng-class="{'loading': article.loading, 'blinking': article.loading}">
        <div class="article-details article-card" style="border-left: 4em solid #03A9F4;">
          <div class="header tray">
            <div class="title">
              <a ng-href="#">
                <h1>تحدي ثلاثين يوم</h1>
                <h2>اليوم الثاني</h2>
              </a>
              <div class="meta-data">
                <div class="date">
                  الجمعة, 30 أكتوبر
                </div>
                <a ng-href="/profiles/{{article.user.id}}">
                  عبد الرحمان موساوي
                </a>
                <div class="category-topic" style="background-color: #03A9F4;">
                  <a >
                    تحدي الثلاثين يوما
                  </a>
                </div>
              </div>
              <span class="reading-time"> دقيقتان للقراءة </span>
              <div class="stats-box">
            <span >
              <i class="fa fa-thumbs-o-up"></i> 1
            </span>
            <span >
              <i class="fa fa-comment-o"></i> 2
            </span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
